{% extends 'admin_dash.html' %}

{% block content %}

{% load crispy_forms_filters %}

<div class="col-lg-10">
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{message}}
    </div>
    {% endfor %}
    <div class="card">
        <div class="card-header">
            <strong class="card-title"> MOVIE TICKET     </strong>

            <H6>BOOKED USERS::{{bookings}}</H6>
        </div>

        <div class="card-body">
            <table class="table table-striped movie-ticket-table">
                <thead>
                    <tr>
                        <th scope="col">SI No</th>
                        <th scope="col">Venue</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Expo code</th>
                        <th scope="col">Ticket count</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for n in ticket %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{n.expo_code.venue}}</td>
                        <td>{{n.expo_code.start_date}}</td>
                        <td>{{n.expo_code.end_date}}</td>
                        <td>{{n.expo_code.expo_code}}</td>
                        <td>{{n.number_of_tickets}}</td>
                         <td>{{n.number_of_tickets}}</td>
                        <td>
                            <strong>CONFIRMED</strong>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}