{% extends 'admin_dash.html' %}

{% block content %}

{% load crispy_forms_filters %}
<div class="col-lg-20">
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{message}}
    </div>
    {% endfor %}
    <div class="card">
        <div class="card-header">
            <strong class="card-title">COMPANY LIST</strong>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">SI No</th>
                    <th scope="col">Company</th>
                     <th scope="col">Emil</th>
                    <th scope="col">Phone number</th>


                    <th scope="col">Registration number</th>

                    <th scope="col">Approval</th>


                </tr>
                 <tbody>
                {% for n in data %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{n.company_name}}</td>

                    <td>{{n.contact_no}}</td>
                    <td>{{n.email}}</td>
                    <td>{{n.contact_no}}</td>
                    <td>{{n.reg_number}}</td>



                    <td>
                        {% if n.status == False %}

                            <a type="button" class="btn btn-success" href="{% url 'users_approval' n.id %}">Approve


                            {% elif n.status == True %}

                        <button type="button" class="btn btn-danger">verified account</button>

                           {% endif %}
                           </td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}