{% extends 'visiter_dash.html' %}

{% block content %}

<div class="col-lg-10">
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    <div class="row">
        {% for n in ticket %}
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-header">
                    <strong class="card-title">TICKET</strong>
                </div>
                <div class="card-body">
                    <div class="movie-ticket">
                        <div class="ticket-info">
                            <p><strong>Movie:</strong> {{ n.expo_code.venue }}</p>
                            <p><strong>Date:</strong> {{ n.expo_code.start_date }}</p>
                            <p><strong>Time:</strong> {{ n.expo_code.end_date }}</p>
                            <p><strong>Venue:</strong> {{ n.expo_code.expo_code }}</p>
                            <p><strong>Seat:</strong> {{ n.number_of_tickets }}</p>
                            <p><strong>Status:</strong> CONFIRMED</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 and not forloop.last %}
    </div><div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>



{% endblock %}